
.login {
    width: 500px;
    padding:80px 15px;
    margin:0 auto;
    color:#868686;
}
.form-control{
    height:44px;
}
.login form, .login .form-group {
    border-radius: 0;
}
.login .form-group input.uname, input.pwd, input.vali {
    display: inline-block;
    width: 100%;
    height: 42px;
}
.login .vali-code {
    padding-top:11px;
    padding-bottom:11px;
    text-align: center;
    background: #f1f1f1;
}
.login .refresh{
    display: block;
    padding-top:12px;
    padding-bottom:11px;
}
.login .refresh-sign {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 4px;
    background: url(../images/refresh.png);
}
.login .btn-self {
    width: 466px;
    height: 47px;
    border-radius: 0;
    background-color: #4382fa;
    color:#fff;
    font-size: 18px;
}
.login .forget {
    text-decoration: underline;
}

